@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div_wrapper{
  display: none;
  transition: 0.5s linear;
}
/* ////////// Nav section /////////// */
.nav{
  background-color: rgba(2, 2, 22, 0.555);
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #f2f2f2;
  font-size: 1.8em;
  font-weight: 600;
  margin-left: 15px;
}
.logo span{
  color: #eb1a58;
}
.nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav ul li{
  display: inline-block;
  color: #ffffff;
  padding: 0 20px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}
.humburger{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
  background-color: rgba(11, 12, 12, 1);
  z-index: 501;
  padding-right: 15px;
}
.humburger span{
  font-size: 1.6em;
  cursor: pointer;
  user-select: none;
}
.humburger .logo{
  font-size: 1.6em;
  margin-bottom: 10px;
}
/* ////////// Home ///////// */
.home_container{
  width: 100%;
  height: 100vh;
  background-image: url('https://www.diagnosticcentres.in/uploads/blogpost/coronavirus-4914026_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home_content{
  color:white;
  margin-left: 50px;
}
.home_content h4{
  font-size: 3.5em;
  margin-bottom: 0;
}
.home_content h4 span{
  color: #eb1a58;
}
.home_content .paragraph{
  margin-bottom: 0;
  font-size: 17px;
  position: relative;
  transform:translateX(8px);
}
.home_content .paragraph::after{
  content: '';
  width: 3px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -5px;
  background-color: #ffd738;
}
.animated{
  margin-bottom: 0;
  display: flex;
  font-size: 18px;
  color: #ffd738;
  text-shadow: 0 2px 5px rgba(0,0,0,0.6);
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
}

.donate{
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #000;
  width: 90px;
  margin-left:8px;
  margin-top: 8px;
  height: 35px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  font-size: 18px;
}
.donate span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.donate::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eb1a58;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: translateX(-90px);
  transition: 0.2s ease;
}
.donate:hover span{
  color: #f2f2f2;
}
.donate:hover::after{
  transform: translateX(0px);
}

/* //////// DETAILS section ///////// */

.details_container{
  width: 100%;
}
.details_links{
 margin: 20px 16px;
}
.details_links a{
  padding: 3px 15px;
  margin: 0;
  text-decoration: none;
  color: #777777;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 4px solid #a9f2fc;
}
.details_links a:hover{
  color: #04adc4 !important;
}
.active_Details_Links{
  border-bottom: 4px solid #34adbd !important;
  color: #04adc4 !important;
}
.overview_content, .symptoms_content, .prevention_content{
  margin: 30px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.text{
  width: 800px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.text ul li{
  color: #0dbfd6 ;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.overview_image,.prevent_image,.symptoms_image{
  width: 500px;
  margin-left: 15px;
}
.prevent_image{
  margin-left: 16px;
}
.overview_image img,.prevent_image img, .symptoms_image img{
  width: 100%;
}
.symptoms_image{
  border-radius: 10px;
  margin-top: 50px;
}
.symptoms_image img{
  border-radius: 10px;
}
/* /////// ADVICE SECTION //////// */
.advice_container{
  background-color: #e2fcff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1eaeb;
  border-top: 1px solid #e1eaeb;
}
.advice_container .advice_heading{
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}
.advice_content{
  padding: 25px;
}
.col{
  font-family: 'Poppins', sans-serif;
}
.advice{
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #b6b6b6;
  border-radius: 40px 8px 8px 40px;
  display: flex;
  align-items: center;
  background-color: #04adc4;
  color: #ffffff;
  margin: 10px;
  transition: 0.3s ease;
  padding-right: 5px;
}
.advice:hover{
  transform: translateX(10px);
}
.advice_main_img{
  width: 400px;
}
.advice_img{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #04adc4;
  border: 1px solid #04adc4;
}
.advice_img i {
  font-size: 2.5em;
}
.advice p{
  margin-left: 85px;
  margin-top: auto;
  margin-bottom: auto;
}

/* ////// Covid Data Section /////// */
.covidHeadinh_container h4{
  font-size: 2em;
  line-height: 0.8em;
}
.covidHeadinh_container p{
  color: #727272;
}
.WorldWideCovid, .indiaWideCovid{
  padding: 25px;
  width: 100%;
  overflow: visible;
  
}
.searchBox{
  outline: none;
  border: 1px solid #3bc1d3;
  width: 226px;
  height: 33px;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ebfdff;
}
.searchBox:focus{
  box-shadow: 0 0 8px #46e9ffd3;
}
table{
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #252525;
  position: relative;
}
tbody{
  width: 100%;
}
th{
  background-color: #00bcd4;
  color: white;
  position: sticky;
  top: 0;
}
th, td{
  text-align: left;
  padding: 10px;
  border: 1px solid red;
  border-collapse: collapse;
}
.td_bold{
  font-weight: bold;
}
tr:nth-child(even){
  background-color: #cbf4f8;
}
#indiatable tbody tr:nth-child(1){
  display: none;
}
#indiatable tbody tr:nth-child(even){
  background-color: #ffffff;
}
#indiatable tbody tr:nth-child(odd){
  background-color: #cbf4f8;
}

.data_container{
  width: 100%;
  height: auto;
  padding: 25px 0;
}
.covid_link{
  margin-top: 0px;
  margin-left: 15px;
}
.covid_link a{
  text-decoration: none;
  color: black;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 8px;
  background-color: transparent;
}
.activeCovid_link{
  /*background-color: #00bcd4;*/
  background: linear-gradient(to bottom,#00bcd4 60%, #56959c);
  color: #ffffff !important;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}
.covid_link a:hover{
  background-color: #e9fcff !important;
  color: #131313;
}
.covid_link span{
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #b6b6b6;
 transform: translateY(2px);
}

.spinner_container{
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateY(-50%);
}
/* //////////Graph Portion////////// */
.graph_container{
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 25px;
 background-color: #f7f7f7;
}
.vactination,.death_graph{
  width: 950px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.scrollToTop{
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0dbfd6;
  color: #ffffff;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6em;
  transition: 0.5s ease;
}
.scrollToTop.active{
  bottom: 40px;
  opacity: 1;
}
.scrollToTop:hover{
  transform: scale(1.2);
}

.footer{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #d1f8fd;
  /*font-family: 'Poppins', sans-serif;*/
}

@media screen and (max-width:991px) {
 .mainImage_container{
   display: flex;
   justify-content: center;
   align-items: center;
 }
}
@media screen and (max-width:860px) {
  .humburger{
    visibility: visible;
  } 
  .nav{
    height: 100vh;
    width: 300px;
    z-index: 500;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    overflow: hidden;
    left: -300px;
    background-color: rgba(2, 2, 22, 0.61);
    justify-content: center;
    align-items: center;
  }
  .nav .logo{
    display: none;
  }
  .nav.active{
    left: 0px;
  }
  .nav ul{
    display: flex;
    flex-direction: column;
  }
  
/* //////////Details section ///////// */
.overview_content, .symptoms_content, .prevention_content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.overview_image,.prevent_image,.symptoms_image{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.text{
  width: 100%;
}

.advice_main_img{
  width: 300px;
}
.advice_container .advice_heading{
  font-size: 1.6em;
}
/* ///////// Responsive Table ////////// */
  .mytable thead{
    display: none;
  }
 .mytable, .mytable tbody, .mytable tr ,.mytable td{
   display: block;
   width: 100%;
 }
 .mytable{
   border: none;
 }
 .mytable td{
   text-align: right;
   padding-left: 50%;
   position: relative;
   border: 1px solid black;
 }
 .mytable tr{
   margin-bottom: 20px;
 }
 .mytable td::before{
   content: attr(data-label);
   position: absolute;
   left: 0;
   width: 50%;
   padding-left: 15px;
   font-size: 17px;
   font-weight: 600;
   text-align: left;
 } 
 .spinner_container{
   transform: translateY(-85px);
 } 
}
@media screen and (max-width:464px) {
  .advice p{
    font-size: 13px;
  }
  .details_links{
    margin: 16px 5px;
   }
   .details_links a{
    padding: 3px 8px;
    font-size: 16px;
    font-weight: 600;
  }
}